<ng-scrollbar #scrollbarRef visibility="hover">
  <div *ngIf="loading" class="col-12 text-center" i18n="search">Recherche en cours...</div>

  <div class="col-12 d-flex flex-column min-h-100" *ngIf="!loading">
    <h2 class="pt-4 pb-4" i18n="search">Recherche "{{title}}"</h2>
    <div class="d-flex justify-content-between">
      <h5>Live</h5>
      <button  mat-button color="primary" class="" [routerLink]="'/search/lives'" [queryParams]="{title: this.title}"  i18n="search">Plus de resultas</button>
    </div>
    <div class="row mt-3 pr-3" *ngIf="data && data.lives">
      <app-mini-live  [route]="'/channel/'+userLive.user.pseudo" [avatar]="userLive.user.avatar" *ngFor="let userLive of data.lives"  class="item pr-0 col-md-6 col-lg-4 col-xl-3" [spec]="userLive.viwer" [pseudo]="userLive.user.pseudo" [title]="userLive.title" [tag]="['PHP']"  [live]="userLive.status"></app-mini-live>
    </div>
    <div class="d-flex justify-content-between">
      <h5 i18n="search">Rediffusions</h5>
      <button  mat-button color="primary" class="" [routerLink]="'/search/replays'" [queryParams]="{title: this.title}" i18n="search">Plus de resultas</button>
    </div>
    <div class="row mt-3 pr-3" *ngIf="data && data.replay">
      <app-mini-live  [file]="userReplay.file" [route]="'/replay/'+userReplay.id" [avatar]="userReplay.user.avatar" [queryParams]="{title: this.title}" *ngFor="let userReplay of data.replay"  class="item pr-0 col-md-6 col-lg-4 col-xl-3" [pseudo]="userReplay.user.pseudo" [title]="userReplay.title"></app-mini-live>
    </div>
  </div>
</ng-scrollbar>
