
<ng-scrollbar #scrollbarRef visibility="hover">
  <div class="w-100 d-flex flex-column min-h-100" *ngIf="!loading">
    <form [formGroup]="browseForm" class="col-12 col-lg-8 pt-4 filter">

      <mat-form-field appearance="outline" class="col-12 col-sm-4">
        <mat-label i18n="search | browse">Pseudo</mat-label>
        <input matInput type="text" formControlName="pseudo">
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-6 col-sm-4">
        <mat-label i18n="search | browse">Langage</mat-label>
        <mat-select formControlName="language">
          <mat-option *ngFor="let language of languages" [value]="language.id">
            {{language.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-6 col-sm-4">
        <mat-label i18n="search | browse">Technologie</mat-label>
        <mat-select formControlName="technology">
          <mat-option *ngFor="let technology of technologies" [value]="technology.id">
            {{technology.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </form>
    <div class="col-12 d-flex flex-column min-h-100">
      <div class="row mt-3 pr-3" *ngIf="data && data.items">
        <app-mini-live  [route]="'/channel/'+userLive.pseudo" [avatar]="userLive.avatar" *ngFor="let userLive of data.items"  class="item pr-0 col-md-6 col-lg-4 col-xl-3" [spec]="userLive.live.viwer" [pseudo]="userLive.pseudo" [title]="userLive.live.title" [live]="userLive.live.status"></app-mini-live>
      </div>
    </div>

    <mat-paginator class="mt-auto row"
                   [length]="data.count"
                   [pageSize]="20"
                   #paginator
                   (page)="pageUpdate($event)"
                   [pageSizeOptions]="[5, 10, 20, 50]">
    </mat-paginator>
  </div>
</ng-scrollbar>
