<div *ngIf="!completSSO && !resetPassword">
  <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="defaultSelectedTab">
    <mat-tab label="Connexion">
      <form [formGroup]="logInForm" (ngSubmit)="logInSubmit()" class="pt-4 pb-4">
        <p>
          <mat-form-field appearance="fill" class="col-12">
            <mat-label>Identifiant</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="logInForm.get('email') && logInForm.get('email').invalid && logInForm.get('email').touched">Invalid</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" class="col-12">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="logInForm.get('password') && logInForm.get('password').invalid && logInForm.get('password').touched">Invalid</mat-error>
            <mat-hint><span (click)="resetPassword = true" class="cursor-pointer">mots de passe oublier ?</span></mat-hint>
          </mat-form-field>
        </p>
        <div class="col-12">
          <button mat-raised-button color="primary" class="col-12 mb-4">Connexion</button>
          <button mat-raised-button color="primary" class="col-12" (click)="loginGitHub()"  type="button">Avec Github</button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Inscription">
      <form [formGroup]="signInForm" (ngSubmit)="signInSubmit()" class="pt-4 pb-4">
        <p>
          <mat-form-field appearance="fill" class="col-12">
            <mat-label>Identifiant</mat-label>
            <input matInput formControlName="pseudo" required>
            <mat-error *ngIf="signInForm.get('pseudo') && signInForm.get('pseudo').invalid && signInForm.get('pseudo').touched">Invalid</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" class="col-12">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="signInForm.get('password') && signInForm.get('password').invalid && signInForm.get('password').touched">Votre mots de passe doit contenire des létre et des chifre, et doit faire au moin 6 caractéres</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" class="col-12">
            <mat-label>Confirmer le mot de passe</mat-label>
            <input matInput type="password" formControlName="passwordConfirm" required>
            <mat-error *ngIf="signInForm.get('passwordConfirm') && signInForm.get('passwordConfirm').invalid && signInForm.get('passwordConfirm').touched">Invalid</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" class="col-12">
            <mat-label>Adresse e-mail</mat-label>
            <input matInput type="email" formControlName="email" required>
            <mat-error *ngIf="signInForm.get('email') && signInForm.get('email').invalid && signInForm.get('email').touched">Invalid</mat-error>
          </mat-form-field>
        </p>
        <mat-error *ngIf="signInForm.errors && signInForm.errors.samePassword && signInForm.get('passwordConfirm').touched && signInForm.get('password').touched" class="col-12 mb-4"><small>Les mots de passes ne sont pas identiques</small></mat-error>
        <div class="col-12">
          <button mat-raised-button color="primary" class="col-12 mb-4" [disabled]="!signInForm.valid">Inscription</button>
          <button mat-raised-button color="primary" class="col-12" (click)="loginGitHub()"  type="button">Avec Github</button>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
<div *ngIf="completSSO">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Inscription">
      <form (ngSubmit)="completSSOSubmit()" class="pt-4 pb-4">
        <p *ngIf="completSSOMiss.indexOf('email') != -1">
          <mat-form-field appearance="fill" class="col-12">
            <mat-label>email</mat-label>
            <input matInput [(ngModel)]="completSSOForm.email" type="email" name="email" required>
          </mat-form-field>
        </p>
        <div class="col-12">
          <button mat-raised-button color="primary" class="col-12">Inscription</button>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
<div *ngIf="resetPassword">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Mot de passe oublier">
      <form (ngSubmit)="resetPasswordSubmit()" *ngIf="!resetPasswordSended && !resetPasswordError && !resetPasswordNotFound"  class="pt-4 pb-4">
        <p>
          <mat-form-field appearance="fill" class="col-12">
            <mat-label>email</mat-label>
            <input matInput [(ngModel)]="resetPasswordForm.email" color="primary" type="email" name="email" required>
          </mat-form-field>
        </p>
        <button mat-raised-button>Mot de passe oublier</button>
      </form>
      <div class="col-12">
        <div *ngIf="resetPasswordSended">
          Vous avez reçut un mail pour changer votre mots de passe
        </div>
        <div *ngIf="resetPasswordNotFound">
          Aucun compte n'existe avec cette email
        </div>
        <div *ngIf="resetPasswordError">
          Une erreur technique est survenue veuilleir tenter plustard
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
