<div class="d-flex h-100" *ngIf="replay && replay.user">
  <div class="replay">
    <ng-scrollbar visibility="hover">
      <div class="title d-flex align-content-between align-items-center">
        <!--userChannel.avatar-->
        <div class="avatar m-3" [routerLink]="'/channel/'+replay.user.pseudo" >
          <img [src]="'/media/avatar/'+replay.user.avatar  | thumbor : [60,60]" *ngIf="replay.user.avatar">
          <img src="../../../assets/images/avatar-placeholder.jpg" *ngIf="!replay.user.avatar">
        </div>
        <div class="info m-2">
          <h2>{{replay.user.pseudo}}</h2>
          <div class="top d-flex">
            <h1 class="mr-auto">{{replay.title}}</h1>
          </div>
          <div class="categories">
            <span i18n="live | replay">Language</span> : <span>{{replay.catLevel && replay.catLevel.name}}</span> | <span i18n="live | replay">Techno</span> : <span>{{replay.catLanguage && replay.catLanguage.name}}</span>
          </div>
        </div>
        <div class="d-flex flex-column">
          <button mat-stroked-button color="second" class="mr-2" (click)="unFollow()" *ngIf="followed">Ne plus suivre</button>
          <button mat-stroked-button color="primary" class="mr-2" (click)="follow()" *ngIf="!followed">Suivre</button>
        </div>
      </div>
      <app-player [file]="replay.file" [title]="replay.title"></app-player>

      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="description">
          <div class="replay-desc col-12 pt-4 pb-4">
            {{replay.desc}}
          </div>
          <div class="live-desc col-12 pt-4 pb-4" [innerHTML]="replay.descHtml">
          </div>
        </mat-tab>
        <mat-tab label="replay">
          <div class="row col-12 pt-3 pr-3">
            <app-mini-live  [routerLink]="'/replay/'+userReplay.id" *ngFor="let userReplay of userReplays"  class="item pr-0 col-md-6 col-lg-4 col-xl-3" [spec]="121" [pseudo]="userReplay.user.pseudo" [title]="userReplay.title" [tag]="['PHP']" [live]="false" [img]="userReplay.thumbnail" ></app-mini-live>
          </div>
        </mat-tab>
      </mat-tab-group>
    </ng-scrollbar>
  </div>
</div>

