/************************** 
* Import style
***************************/
/************************** 
* Main Color
***************************/
/************************** 
* Main Background
***************************/
/************************** 
* Border Color
***************************/
/************************** 
* Main Fonts
***************************/
/************************** 
* Float fixing
***************************/
/************************** 
* Text Align
***************************/
/************************** 
* font-weight
***************************/
/************************** 
* Transition
***************************/
.transition, .full__item-video .item__back, .full__item-video:hover .item__back, .recommendations .title__section h2 a, .recommendations .title__section h2 a:hover, .chargement .chargement__button, .chargement .chargement__button:hover {
  -webkit-transition: all .4s ease-in-out !important;
  -o-transition: all .4s ease-in-out !important;
  transition: all .4s ease-in-out !important; }

/************************** 
* Box Shadow
***************************/
.box-shadownone {
  -webkit-box-shadow: none;
  box-shadow: none; }

/************************** 
* Box Sizing
***************************/
.box-sizing {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/************************** 
* Transition Transforme
***************************/
.transTransforme {
  -webkit-transition: transform 330ms ease-out;
  -moz-transition: transform 330ms ease-out;
  -o-transition: transform 330ms ease-out;
  transition: transform 330ms ease-out; }

/************************** 
* Media Queries
***************************/
/************************** 
* Main Style
***************************/
#list__one {
  padding-bottom: 100px; }
  @media (max-width: 991px) {
    #list__one {
      padding-top: 50px;
      padding-bottom: 50px; } }

.content__left {
  padding-top: 26px; }
  @media (max-width: 991px) {
    .content__left {
      padding-top: 0; } }
  @media (max-width: 768px) {
    .content__left {
      padding-top: 0; } }

.full__item-video {
  position: relative;
  width: 100%;
  margin-bottom: 10px; }
  @media (max-width: 991px) {
    .full__item-video {
      margin-bottom: 0; } }
  .full__item-video .item__video {
    background: #011B41;
    z-index: 1; }
    .full__item-video .item__video .img__img-video {
      position: relative;
      /*             .play {
          width: 60px;
          height: 60px;
          border-radius: 100px;
          position: absolute;
          background: url(../../images/play.png);
          background-repeat: no-repeat;
          background-position: center;
          right: 0;
          bottom: -25px;
          @media (max-width: 320px) {
              right: 2px;
              bottom: -31px;
          }
      } */ }
      @media (max-width: 320px) {
        .full__item-video .item__video .img__img-video {
          height: 140px; } }
      .full__item-video .item__video .img__img-video img {
        width: 100%;
        height: 100%; }
      @media (max-width: 991px) {
        .full__item-video .item__video .img__img-video {
          height: auto; } }
    .full__item-video .item__video .content__video {
      padding-top: 12px;
      padding-left: 12px;
      padding-bottom: 12px;
      position: relative; }
      .full__item-video .item__video .content__video h4 {
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: bold;
        line-height: 26px;
        max-width: 82%; }
        @media (max-width: 767px) {
          .full__item-video .item__video .content__video h4 {
            max-width: 87%; } }
        @media (max-width: 600px) {
          .full__item-video .item__video .content__video h4 {
            max-width: 55%; } }
        @media (max-width: 414px) {
          .full__item-video .item__video .content__video h4 {
            max-width: 72%; } }
        @media (max-width: 320px) {
          .full__item-video .item__video .content__video h4 {
            max-width: 80%; } }
        .full__item-video .item__video .content__video h4 a {
          color: #ffffff; }
      .full__item-video .item__video .content__video .name__views {
        color: #28CCE8;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 14px;
        line-height: 26px; }
        .full__item-video .item__video .content__video .name__views .views {
          color: #E3AA26;
          margin-left: 30px; }
      .full__item-video .item__video .content__video .language {
        border: 2px solid #1BB0A7;
        border-radius: 7px;
        color: #28CCE8;
        font-family: "Montserrat";
        font-size: 10px;
        font-weight: 600;
        padding: 16px 10px;
        position: absolute;
        bottom: 30px;
        right: 16px;
        text-transform: uppercase; }
        .full__item-video .item__video .content__video .language a {
          color: #28CCE8; }
        @media (max-width: 767px) {
          .full__item-video .item__video .content__video .language {
            bottom: 9px; } }
        @media (max-width: 600px) {
          .full__item-video .item__video .content__video .language {
            bottom: 35px; } }
        @media (max-width: 599px) {
          .full__item-video .item__video .content__video .language {
            bottom: 30px; } }
        @media (max-width: 375px) {
          .full__item-video .item__video .content__video .language {
            bottom: 30px; } }
  .full__item-video .item__back {
    background-image: linear-gradient(to top, #095c6e, #1bb0a7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    background-repeat: no-repeat;
    padding-top: 19px;
    display: none; }
    .full__item-video .item__back:after {
      width: 200px;
      height: 200px;
      content: url(../../images/play-2.png);
      top: 5px;
      left: 5px;
      position: absolute;
      display: inline-block;
      background-position: center;
      background-size: cover; }
    .full__item-video .item__back .item__live {
      text-align: right;
      padding-right: 15px;
      margin-bottom: 28px; }
      .full__item-video .item__back .item__live .live {
        display: inline-block;
        padding: 3px 18px;
        /*   text-align: right; */
        border-radius: 21px;
        background-color: #E3AA26;
        font-family: "Montserrat";
        font-size: 13px;
        line-height: 1.23;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        font-weight: 400;
        text-transform: uppercase; }
    .full__item-video .item__back .content__item {
      z-index: 3;
      position: relative; }
      .full__item-video .item__back .content__item h4 {
        font-family: "Montserrat";
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: normal;
        text-align: right;
        color: #eaffeb;
        font-weight: 400;
        margin-bottom: 50px;
        padding-right: 50px; }
        @media (max-width: 320px) {
          .full__item-video .item__back .content__item h4 {
            margin-bottom: 40px;
            padding-right: 0;
            text-align: center; } }
      .full__item-video .item__back .content__item h2 {
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: bold;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        max-width: 65%;
        margin-left: auto;
        margin-right: auto; }
        @media (max-width: 320px) {
          .full__item-video .item__back .content__item h2 {
            max-width: 74%; } }
        .full__item-video .item__back .content__item h2 a {
          color: #ffffff; }
    .full__item-video .item__back .language {
      border: 2px solid #ffffff;
      border-radius: 7px;
      color: #ffffff;
      font-family: "Montserrat";
      font-size: 10px;
      font-weight: 600;
      padding: 16px 10px;
      position: absolute;
      bottom: 30px;
      right: 16px;
      text-transform: uppercase; }
      .full__item-video .item__back .language a {
        color: #ffffff; }
  .full__item-video:hover .item__back {
    display: inherit;
    z-index: 2; }

/* title section */
.recommendations .title__section {
  margin-top: 14px;
  margin-bottom: 14px; }
  .recommendations .title__section h2 {
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #bbbbbb;
    font-weight: 400;
    display: flex;
    align-items: center; }
    .recommendations .title__section h2 a {
      display: flex;
      align-items: center;
      color: #bbbbbb; }
      .recommendations .title__section h2 a:hover {
        color: #28CCE8; }
    .recommendations .title__section h2 span {
      font-size: 25px; }

/* Button Download */
.chargement {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }
  .chargement .chargement__button {
    height: 54px;
    border-radius: 33px;
    background-color: #063d8f;
    padding-left: 100px;
    padding-right: 100px;
    display: inline-block;
    line-height: 54px;
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -0.71px;
    text-align: center;
    color: #bbbbbb; }
    .chargement .chargement__button:hover {
      background-color: #28CCE8;
      color: #ffffff; }
    @media (max-width: 320px) {
      .chargement .chargement__button {
        padding-left: 25px;
        padding-right: 25px; } }

/* 
Placeholder */
.form-control::-webkit-input-placeholder {
  /* Edge */
  color: #28CCE8;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat"; }

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #28CCE8;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat"; }

.form-control::placeholder {
  color: #28CCE8;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat"; }

/*# sourceMappingURL=list__one.css.map */
