/************************** 
* Import style
***************************/
/************************** 
* Main Color
***************************/
/************************** 
* Main Background
***************************/
/************************** 
* Border Color
***************************/
/************************** 
* Main Fonts
***************************/
/************************** 
* Float fixing
***************************/
/************************** 
* Text Align
***************************/
/************************** 
* font-weight
***************************/
/************************** 
* Transition
***************************/
.transition {
  -webkit-transition: all .4s ease-in-out !important;
  -o-transition: all .4s ease-in-out !important;
  transition: all .4s ease-in-out !important; }

/************************** 
* Box Shadow
***************************/
.box-shadownone {
  -webkit-box-shadow: none;
  box-shadow: none; }

/************************** 
* Box Sizing
***************************/
.box-sizing {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/************************** 
* Transition Transforme
***************************/
.transTransforme {
  -webkit-transition: transform 330ms ease-out;
  -moz-transition: transform 330ms ease-out;
  -o-transition: transform 330ms ease-out;
  transition: transform 330ms ease-out; }

/************************** 
* Media Queries
***************************/
/************************** 
* Main Style
***************************/
@media (max-width: 1365px) {
  .sidebar__left {
    display: inline-block;
    width: 100%;
    padding-top: 50px; } }
@media (max-width: 991px) {
  .sidebar__left {
    padding-top: 0px; } }
.sidebar__left .join__coding {
  background: #043869;
  padding-top: 36px;
  padding-bottom: 36px; }
  @media (max-width: 1365px) {
    .sidebar__left .join__coding {
      width: 49%;
      float: left;
      margin-left: 0;
      margin-right: 15px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar__left .join__coding {
      width: 48%;
      float: left;
      margin-left: 0px;
      margin-right: 15px; } }
  @media (max-width: 992px) {
    .sidebar__left .join__coding {
      width: 48%;
      float: left;
      margin-left: 0px;
      margin-right: 15px; } }
  @media (max-width: 992px) {
    .sidebar__left .join__coding {
      width: 48%;
      float: left;
      margin-left: 0px;
      margin-right: 15px; } }
  @media (max-width: 991px) {
    .sidebar__left .join__coding {
      padding-top: 50px;
      padding-bottom: 50px;
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }
  .sidebar__left .join__coding .content__coding {
    padding: 19px 30px 16px 30px;
    background: #011B41;
    border-top: 2px solid #E3AA26;
    margin-left: 10px;
    margin-right: 10px; }
    @media (max-width: 991px) {
      .sidebar__left .join__coding .content__coding {
        padding: 39px 25px 33px 25px; } }
    .sidebar__left .join__coding .content__coding h2 {
      font-size: 22px;
      font-weight: bold;
      line-height: 24px;
      font-family: "Montserrat";
      margin-bottom: 7px; }
    .sidebar__left .join__coding .content__coding p {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      font-family: "Montserrat";
      margin-bottom: 12px; }
    .sidebar__left .join__coding .content__coding .fomrs__join-coding .form-group {
      margin-bottom: 16px; }
      .sidebar__left .join__coding .content__coding .fomrs__join-coding .form-group .form-control {
        border: 1px solid #11808A;
        height: 45px;
        background: transparent;
        padding-top: 0;
        line-height: 45px; }
        .sidebar__left .join__coding .content__coding .fomrs__join-coding .form-group .form-control:focus {
          box-shadow: none; }
        .sidebar__left .join__coding .content__coding .fomrs__join-coding .form-group .form-control::placeholder {
          color: #1BB0A7;
          font-size: 12px;
          font-weight: 400;
          font-family: "Montserrat"; }
        .sidebar__left .join__coding .content__coding .fomrs__join-coding .form-group .form-control:-ms-input-placeholder {
          color: #1BB0A7;
          font-size: 6px;
          font-weight: 400;
          font-family: "Montserrat"; }
        .sidebar__left .join__coding .content__coding .fomrs__join-coding .form-group .form-control::-ms-input-placeholder {
          color: #1BB0A7;
          font-size: 6px;
          font-weight: 400;
          font-family: "Montserrat"; }
    .sidebar__left .join__coding .content__coding .fomrs__join-coding button {
      width: 100%;
      height: 45px;
      font-size: 12px;
      font-weight: 400;
      font-family: "Montserrat";
      border-radius: 3px;
      background-image: linear-gradient(to left, #1bb0a7, #095c6e 0%);
      border: none; }
.sidebar__left .recommandees {
  padding-top: 18px; }
  @media (max-width: 1365px) {
    .sidebar__left .recommandees {
      width: 48%;
      float: left;
      margin-left: 15px;
      margin-right: 0;
      padding: 0; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar__left .recommandees {
      width: 48%;
      float: left;
      margin-left: 15px;
      margin-right: 0; } }
  @media (max-width: 992px) {
    .sidebar__left .recommandees {
      width: 48%;
      float: left;
      margin-left: 15px;
      margin-right: 0px; } }
  @media (max-width: 991px) {
    .sidebar__left .recommandees {
      padding-top: 50px;
      padding-bottom: 50px;
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }
  .sidebar__left .recommandees h2 {
    font-size: 14px;
    font-weight: bold;
    font-family: "Montserrat";
    color: #E3AA26;
    line-height: 26px;
    margin-bottom: 18px; }
    @media (max-width: 1366px) {
      .sidebar__left .recommandees h2 {
        font-size: 13px; } }
    .sidebar__left .recommandees h2 .left__img {
      height: 12px;
      margin-right: 6px; }
  @media (max-width: 1365px) {
    .sidebar__left .recommandees .item__recomandees {
      height: 236px;
      overflow-y: scroll;
      padding-right: 10px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar__left .recommandees .item__recomandees {
      height: 236px;
      overflow-y: scroll;
      padding-right: 10px; } }
  .sidebar__left .recommandees .item__recomandees .media {
    position: relative;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px; }
    @media (max-width: 1366px) {
      .sidebar__left .recommandees .item__recomandees .media {
        margin-right: 0px; } }
    @media (max-width: 991px) {
      .sidebar__left .recommandees .item__recomandees .media {
        margin-right: 0px; } }
    .sidebar__left .recommandees .item__recomandees .media:last-child {
      margin-bottom: 0; }
    .sidebar__left .recommandees .item__recomandees .media img {
      height: 52px;
      width: 52px; }
      @media (max-width: 768px) {
        .sidebar__left .recommandees .item__recomandees .media img {
          height: 45px;
          width: 45px;
          margin-right: 5px !important; } }
      @media (max-width: 767px) {
        .sidebar__left .recommandees .item__recomandees .media img {
          height: 52px;
          width: 52px;
          margin-right: 1rem !important; } }
      @media (max-width: 600px) {
        .sidebar__left .recommandees .item__recomandees .media img {
          /*      height: 52px;
          width: 52px;
          margin-right: 1rem!important; */ } }
      @media (max-width: 414px) {
        .sidebar__left .recommandees .item__recomandees .media img {
          /*         margin-right: 5px!important; */ } }
      @media (max-width: 375px) {
        .sidebar__left .recommandees .item__recomandees .media img {
          margin-right: 1rem !important; } }
    .sidebar__left .recommandees .item__recomandees .media .media-body h5 {
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: bold;
      line-height: 26px;
      margin-bottom: 0; }
    .sidebar__left .recommandees .item__recomandees .media .media-body h4 {
      font-family: "Montserrat";
      font-size: 9px;
      font-weight: 400;
      line-height: 26px;
      margin-bottom: 0;
      color: #E3AA26; }
    .sidebar__left .recommandees .item__recomandees .media .language {
      border-radius: 7px;
      border: solid 1px #1bb0a7;
      line-height: 25px;
      font-family: Montserrat;
      font-size: 10px;
      color: #1bb0a7;
      text-align: center;
      font-weight: 600;
      padding: 7px 7px; }
      .sidebar__left .recommandees .item__recomandees .media .language a {
        color: #1bb0a7; }

/*# sourceMappingURL=sidebar__left.css.map */
