  <div class="full__item-video">
    <div class="item__video">
      <div class="img__img-video">
        <img src="../../../assets/images/videos/1.jpg" alt="">
        <span class="live__button">LIVE</span>
        <span class="viewer"><span class="icon-eye"></span> 121</span>
        <!--    <span class="play"></span> -->
      </div>
      <div class="content__video p-2">
        <h4>
          <a href="#">
            PHP for Beginners - Become a PHP Master - CMS Project</a>
        </h4>
        <h5 class="name__views m-0">
          Emma031
        </h5>
      </div>
    </div>

  </div>
