.md-editor{
  color: #1b1e21;
}
.thumb-container{
  background-color: #1b1e21;
  padding-top: 56.25%;
  position: relative;
  .thumb{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
  }
}
