<div class="row pb-4 pt-4">
  <form class="col-12">
    <h5 i18n="auth | live">Live key</h5>
    <div class="row col-12">
      <mat-form-field appearance="standard" class="col-6">
        <input matInput type="password" disabled #liveKey [value]="user ? user.pseudo+'?psk='+user.live.key : ''">
      </mat-form-field>
      <div class="col-3">
        <button mat-stroked-button color="basic" type="button" (click)="renewLiveKey()" class="col-12" i18n="auth | live">Nouvelle clée</button>
      </div>
      <div class="col-3">
        <button mat-stroked-button color="primary" type="button" (click)="liveKey.type='text'" class="col-12" i18n="auth | live">Afficher</button>
      </div>
    </div>

  </form>

  <form [formGroup]="changeInformationdForm" (ngSubmit)="changeInformationdSubmit()" class="col-12">
    <h5 i18n="auth | live">Information sur le live</h5>
    <br>
    <p>
      <mat-form-field appearance="fill" class="col-12">
        <mat-label i18n="auth | live">Titre</mat-label>
        <input matInput type="text" formControlName="title" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" class="col-12">
        <mat-label i18n="auth | live">Catégorie</mat-label>
        <mat-select matNativeControl  formControlName="category" required>
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" class="col-12">
        <mat-label i18n="auth | live">Language</mat-label>
        <mat-select matNativeControl  formControlName="language" required>
          <mat-option *ngFor="let language of languages" [value]="language.id">
            {{language.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" class="col-12">
        <mat-label>Date du prochain live</mat-label>
        <input matInput [ngxMatDatetimePicker]="picker"
               placeholder="Choose a date"
               formControlName="date"
               [min]="minDate">
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker>
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </p>
    <div class="pl-3">
      <mat-label i18n="auth | live">Prévisualisation pour le live off</mat-label>
      <div class="pt-4 pb-4 row d-flex">
        <div class="col-6">
          <div class="thumb-container w-100">
            <img class="thumb w-100" [src]="this.previewImage">
          </div>
        </div>
        <div class="col-6 d-flex align-items-center">
          <div>
          <input type="file" hidden="true" (change)="onFileChange($event)" #fileInput>
          <button mat-stroked-button type="button" (click)="fileInput.click()">choisir un fichier</button>
          <br>
          <small class="pt-3 d-block" i18n="auth | live">
            Votre fichier doit etres une image de maximum 1Mo
          </small>
          </div>
        </div>
      </div>
    </div>
    <p>
      <mat-form-field appearance="fill" class="col-12">
      <mat-label i18n="auth | live">Description de la chaine</mat-label>
      <textarea matInput
                formControlName="desc"
                cdkTextareaAutosize
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </p>

    <mat-error *ngIf="changeInformationdForm.errors && changeInformationdForm.errors.samePassword && changeInformationdForm.get('passwordConf').touched && changeInformationdForm.get('password').touched" class="col-12 mb-4"><small i18n="auth | live">Les mots de passes ne sont pas identiques</small></mat-error>
    <div class="col-12">
      <div class="alert alert-primary" role="alert" *ngIf="succes === true" i18n="auth | live">
        Modification effectué
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="succes === false" i18n="auth | live">
        Erreur de modification des information personnel
      </div>
      <button mat-stroked-button color="primary" class="col-12 mb-4" i18n="auth | live">Changer</button>
    </div>
  </form>
</div>
