
@import '../../../assets/helpers/variabls.scss';

.md-editor{
  color: #1b1e21;
}
.thumb-container{
  background-color: #1b1e21;
  padding-top: 56.25%;
  position: relative;
  .thumb{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
  }
}

h5{
  display: inline-block;
  font-size: 18px;
  padding: 5px 7px;
  margin: 20px 0;
  background-color: #FFF;
  color: $normal-background;
}
