<div class="d-flex h-100 content" *ngIf="userChannel && userChannel.live">
  <div class="live">

    <ng-scrollbar visibility="hover" class="scrollbar">
      <div *ngIf="!userChannel.live.status" class="offline">
        <img [src]="'/media/live/'+userChannel.live.thumb | thumbor : [1200,720]" *ngIf="userChannel.live.thumb" class="w-100">
        <div class="wording p-4 w-100" i18n="live | channel">Chaine hors ligne.</div>
        <div class="wording p-4 w-100" *ngIf="userChannel.live.date.getTime() > now.getTime()"  i18n="live | channel">Prochain live le {{userChannel.live.date | date : 'short'}}</div>
      </div>
      <app-player *ngIf="userChannel.live.status" [channel]="userChannel.pseudo" [server]="userChannel.live.ip" [title]="userChannel.live.title"></app-player>

      <div class="title d-flex align-content-between align-items-center">
        <!--userChannel.avatar-->
        <div class="avatar m-2 m-sm-3"  [routerLink]="'/channel/'+userChannel.pseudo" [queryParams]="{displayTabMobile: displayTabMobile?0:1}" >
          <img [src]="'/media/avatar/'+userChannel.avatar | thumbor : [60,60]" *ngIf="userChannel.avatar">
          <img src="../../../assets/images/avatar-placeholder.jpg" *ngIf="!userChannel.avatar">
        </div>
        <div class="info m-2">
          <h2>{{userChannel.pseudo}}</h2>
          <div class="top d-flex">
            <h1 class="mr-auto">{{userChannel.live.title}}</h1></div>
          <div class="categories">
            <span i18n="live | channel">Langage</span> : <span class="bold">{{userChannel.live.catLanguage && userChannel.live.catLanguage.name}}</span> |
            <span i18n="live | channel">Techno</span> : <span class="bold">{{userChannel.live.catLevel && userChannel.live.catLevel.name}}</span>
          </div>
        </div>
        <div class="d-flex flex-column">
          <button mat-stroked-button color="second" class="mr-2" (click)="unFollow()" *ngIf="followed" i18n="live | channel">Ne plus suivre</button>
          <button mat-stroked-button color="primary" class="mr-2" (click)="follow()" *ngIf="!followed" i18n="live | channel">Suivre</button>
        </div>
      </div>
      <mat-tab-group mat-align-tabs="center" class="tab" [ngClass]="{'display-tab-mobile' : displayTabMobile}">
        <mat-tab label="description">
          <div class="d-flex justify-content-center">
            <div class="d-flex flex-column">
              <div class="live-desc col-12 pt-4 pb-4">
                {{userChannel.live.desc}}
              </div>
              <div class="live-desc col-12 pt-4 pb-4" [innerHTML]="userChannel.descHtml">
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Rediffusions">
          <div class="row col-12 pt-3 pr-3">
            <app-mini-live  [route]="'/replay/'+userReplay.id" *ngFor="let userReplay of userReplays"  class="item pr-0 col-md-6 col-lg-4 col-xl-3" [spec]="121" [pseudo]="userReplay.user.pseudo" [avatar]="userReplay.user.avatar" [title]="userReplay.title" [tag]="['PHP']" [img]="userReplay.thumbnail" [live]="false"></app-mini-live>
          </div>
        </mat-tab>
      </mat-tab-group>
    </ng-scrollbar>
  </div>
  <div class="chat">
    <app-chat [channel]="userChannel.pseudo"></app-chat>
  </div>
</div>

