/**************************
* Import style
***************************/

@import '../../../assets/helpers/variabls';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

/**************************
* Main Style
***************************/
@include media-breakpoint-down(md) {
  .content {
    flex-direction: column;
    .tab{
      display: none;
    }
    .display-tab-mobile{
      display: flex;
    }
  }

  .title{
    .avatar{
      width: 60px !important;
      height: 60px !important;
    }
    .info{
      h1{
        font-size: 14px !important;
      }
    }
  }

  .chat{
    width: 100%;
    height: 100%;
    max-width: none !important;
  }
}

:host{
  ::ng-deep{
    .preview-panel{
       background-color: transparent !important;
       font-size: 12px;
     }
  }
  .calendar{
    font-size: 12px;
    border-right: 1px solid white;
    h4{
      font-size: 16px;
    }
    .date{
      background-color: white;
      color: $dark-background;
      display: inline-block;
      padding: 3px 5px;
    }
    .hour{
      border-right: 1px solid white;
    }
    h5{
      color: #E3AA26;
      font-size: 14px;
    }
  }
  .live-desc{
    font-size: 12px;
  }
  .chat{
    width: 100%;
    height: 100%;
    max-width: 300px;
  }
  .live{
    flex: 1;
    height: 100%;
  }
  .offline{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    background-color: #000;
    color: #FFF;
    min-height: 200px;
    position: relative;
    .wording{
      background-color: rgba(0,0,0,0.5);
      position: absolute;
      top: 10%;
      left: 0;
    }
  }
  .title{
    border-bottom: 1px solid $normal-background;
    .avatar{
      width: 60px;
      height: 60px;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
    .info{
      flex: 1;
      h2{
        font-size: 14px;
        width: min-content;
        display: block;
        padding: 0px 5px;
        margin: 5px 0 0;
        color: #1e4c78;
        background-color: white;
      }
      h1{
        font-size: 18px;
        line-height: 1.8;
        margin-bottom: 0;
        font-weight: normal;
      }
      .categories{
        font-size: 10px;
        text-transform: uppercase;
        span.bold{
          font-weight: bold;
        }
      }
    }
  }

}
