/************************** 
* Import style
***************************/

@import '../helpers/variabls';

/************************** 
* Main Style
***************************/

#headr__one {
    margin-top: 138px;
    margin-bottom: 70px;
    .main__Content-global {
        display: flex;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        @media #{$minMobile} {
            display: inline-block;
            padding-left: 0;
            padding-right: 0;
        }
        .main__video {
            .img_videos {
                position: relative;
                img {
                    width: 100%;
                    border-radius: 20px;
                }
                .live {
                    position: absolute;
                    left: 5%;
                    top: 7%;
                    background: #E02020;
                    padding: 5px 13px;
                    border-radius: 10px;
                    font-family: "Montserrat";
                    font-size: 10px;
                    text-transform: uppercase;
                }
            }
        }
        .main__content {
            padding-top: 40px;
            h1 {
                font-family: "Montserrat-Black";
                font-size: 60px;
                font-weight: bold;
                color: #28CCE8;
                margin-bottom: 30px;
                @media #{$minMobile} {
                    font-size: 30px;
                }
            }
            .main__information {
                border-top: 1px solid #4c4c4c;
                border-bottom: 1px solid #4c4c4c;
                display: inline-block;
                width: 100%;
                margin-bottom: 20px;
                .left__information {
                    display: inline-block;
                    width: auto;
                    height: 51px;
                    line-height: 51px;
                    h4 {
                        font-family: "Montserrat-Regular";
                        font-size: 16px;
                        color: #28CCE8;
                        font-weight: 400;
                        margin-bottom: 0;
                        line-height: 51px;
                        span {
                            color: #C4C4C4;
                            margin-left: 5px;
                        }
                    }
                }
                .right__information {
                    width: auto;
                    float: right;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    h4 {
                        font-family: "Montserrat-Regular";
                        font-size: 16px;
                        color: #C4C4C4;
                        font-weight: 400;
                        margin-bottom: 0;
                        span {
                            color: #C4C4C4;
                            margin-left: 5px;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            display: inline-block;
                            border: 1px solid #4c4c4c;
                            border-radius: 10px;
                            padding-left: 7px;
                            padding-right: 7px;
                            font-family: "Montserrat";
                            font-size: 8px;
                            color: #28CCE8;
                            font-weight: 400;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        p {
            color: #919191;
            line-height: 28px;
            font-family: "Montserrat-Regular";
            margin-bottom: 20px;
            font-size: 16px;
        }
        .bookmark {
            display: inline-block;
            width: 100%;
            text-align: right;
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 400;
            color: #919191;
            a {
                color: #919191;
                @extend .transition;
                &:hover {
                    color: $mainColor;
                    @extend .transition;
                }
            }
            span {
                margin-right: 10px;
            }
        }
    }
}