/************************** 
* Import style
***************************/

@import '../helpers/variabls';

/************************** 
* Main Style
***************************/

#list__one {
    padding-bottom: 100px;
    @media #{$maxSmall} {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.content__left {
    padding-top: 26px;
    @media #{$maxSmall} {
        padding-top: 0;
    }
    @media #{$ipSmall} {
        padding-top: 0;
    }
}



/* title section */

.recommendations {
    .title__section {
        margin-top: 14px;
        margin-bottom: 14px;
        h2 {
            font-family: "Montserrat";
            font-size: 18px;
            line-height: 1.22;
            letter-spacing: normal;
            text-align: left;
            color: #bbbbbb;
            font-weight: 400;
            display: flex;
            align-items: center;
            a {
                display: flex;
                align-items: center;
                color: #bbbbbb;
                @extend .transition;
                &:hover {
                    color: $mainColor;
                    @extend .transition;
                }
            }
            span {
                font-size: 25px;
            }
        }
    }
}


/* Button Download */

.chargement {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    .chargement__button {
        height: 54px;
        border-radius: 33px;
        background-color: #063d8f;
        padding-left: 100px;
        padding-right: 100px;
        display: inline-block;
        line-height: 54px;
        font-family: "Montserrat";
        font-size: 25px;
        font-weight: 500;
        letter-spacing: -0.71px;
        text-align: center;
        color: #bbbbbb;
        @extend .transition;
        &:hover {
            background-color: $mainBgColor;
            color: #ffffff;
            @extend .transition;
        }
        @media #{$minMobile} {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}


/* 
Placeholder */

.form-control::-webkit-input-placeholder {
    /* Edge */
    color: #28CCE8;
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat";
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #28CCE8;
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat";
}

.form-control::placeholder {
    color: #28CCE8;
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat";
}
