/************************** 
* Import style
***************************/

@import '../helpers/variabls';

/************************** 
* Main Style
***************************/

#search__bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 27px;
    @media #{$maxSmall} {
        display: inline-block;
    }
    .title__section {
        width: 50%;
        float: left;
        @media #{$maxSmall} {
            width: 100%;
        }
        h2 {
            font-size: 60px;
            font-family: "Montserrat";
            line-height: 60px;
            margin-bottom: 0;
            font-weight: 900;
            @media #{$maxSmall} {
                margin-bottom: 20px;
            }
        }
    }
    .serach__form {
        width: 50%;
        float: left;
        @media #{$maxSmall} {
            width: 100%;
        }
        .form-search {
            width: 500px;
            position: relative;
            float: right;
            @media #{$maxSmall} {
                display: initial !important;
                width: 100%;
            }
            .form-control {
                height: 45px;
                border-radius: 100px;
                width: 100%;
                font-size: 16px;
                color: #BEBEBE;
                border: 1px solid #F7F7F7;
                background: #F7F7F7;
                padding: 0;
                padding-left: 40px;
                padding-right: 10px;
                &:focus {
                    box-shadow: none;
                }
                &::placeholder {
                    color: #BEBEBE;
                    @media #{$min_maxTablette} {
                        font-size: 12px;
                    }
                }
                &:-ms-input-placeholder {
                    color: #BEBEBE;
                    @media #{$min_maxTablette} {
                        font-size: 12px;
                    }
                }
                &::-ms-input-placeholder {
                    color: #BEBEBE;
                    @media #{$min_maxTablette} {
                        font-size: 12px;
                    }
                }
            }
            .btn-outline-success {
                padding: 0;
                border-radius: 0;
                border: none;
                color: transparent;
                position: absolute;
                left: 14px;
                img {
                    height: 16px;
                }
            }
            @media #{$maxSmall} {
                display: none;
            }
        }
    }
}