/************************** 
* Import style
***************************/

@import '../helpers/variabls';

/************************** 
* Main Style
***************************/

.sidebar__left {
    @media #{$DesktopFix} {
        display: inline-block;
        width: 100%;
        padding-top: 50px;
    }
    @media #{$min_maxTablette} {}
    @media #{$maxSmall} {
        padding-top: 0px;
    }
    .join__coding {
        background: #043869;
        padding-top: 36px;
        padding-bottom: 36px;
        @media #{$DesktopFix} {
            width: 49%;
            float: left;
            margin-left: 0;
            margin-right: 15px;
        }
        @media #{$min_maxTablette} {
            width: 48%;
            float: left;
            margin-left: 0px;
            margin-right: 15px;
        }
        @media #{$maxTablette} {
            width: 48%;
            float: left;
            margin-left: 0px;
            margin-right: 15px;
        }
        @media #{$maxTablette} {
            width: 48%;
            float: left;
            margin-left: 0px;
            margin-right: 15px;
        }
        @media #{$maxSmall} {
            padding-top: 50px;
            padding-bottom: 50px;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        .content__coding {
            padding: 19px 30px 16px 30px;
            background: #011B41;
            border-top: 2px solid #E3AA26;
            margin-left: 10px;
            margin-right: 10px;
            @media #{$maxSmall} {
                padding: 39px 25px 33px 25px;
            }
            h2 {
                font-size: 22px;
                font-weight: bold;
                line-height: 24px;
                font-family: "Montserrat";
                margin-bottom: 7px;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                font-family: "Montserrat";
                margin-bottom: 12px;
            }
            .fomrs__join-coding {
                .form-group {
                    margin-bottom: 16px;
                    .form-control {
                        border: 1px solid #11808A;
                        height: 45px;
                        background: transparent;
                        padding-top: 0;
                        line-height: 45px;
                        &:focus {
                            box-shadow: none;
                        }
                        &::placeholder {
                            color: #1BB0A7;
                            font-size: 12px;
                            font-weight: 400;
                            font-family: "Montserrat";
                        }
                        &:-ms-input-placeholder {
                            color: #1BB0A7;
                            font-size: 6px;
                            font-weight: 400;
                            font-family: "Montserrat";
                        }
                        &::-ms-input-placeholder {
                            color: #1BB0A7;
                            font-size: 6px;
                            font-weight: 400;
                            font-family: "Montserrat";
                        }
                    }
                }
                button {
                    width: 100%;
                    height: 45px;
                    font-size: 12px;
                    font-weight: 400;
                    font-family: "Montserrat";
                    border-radius: 3px;
                    background-image: linear-gradient(to left, #1bb0a7, #095c6e 0%);
                    border: none;
                }
            }
        }
    }
    .recommandees {
        padding-top: 18px;
        @media #{$DesktopFix} {
            width: 48%;
            float: left;
            margin-left: 15px;
            margin-right: 0;
            padding: 0;
        }
        @media #{$min_maxTablette} {
            width: 48%;
            float: left;
            margin-left: 15px;
            margin-right: 0;
        }
        @media #{$maxTablette} {
            width: 48%;
            float: left;
            margin-left: 15px;
            margin-right: 0px;
        }
        @media #{$maxSmall} {
            padding-top: 50px;
            padding-bottom: 50px;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        h2 {
            font-size: 14px;
            font-weight: bold;
            font-family: "Montserrat";
            color: #E3AA26;
            line-height: 26px;
            margin-bottom: 18px;
            @media #{$notebook} {
                font-size: 13px;
            }
            .left__img {
                height: 12px;
                margin-right: 6px;
            }
        }
        .item__recomandees {
            @media #{$DesktopFix} {
                height: 236px;
                overflow-y: scroll;
                padding-right: 10px;
            }
            @media #{$min_maxTablette} {
                height: 236px;
                overflow-y: scroll;
                padding-right: 10px;
            }
            .media {
                position: relative;
                align-items: center;
                margin-right: 20px;
                margin-bottom: 10px;
                @media #{$notebook} {
                    margin-right: 0px;
                }
                @media #{$maxSmall} {
                    margin-right: 0px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                img {
                    height: 52px;
                    width: 52px;
                    @media #{$ipSmall} {
                        height: 45px;
                        width: 45px;
                        margin-right: 5px!important;
                    }
                    @media #{$maxMobile} {
                        height: 52px;
                        width: 52px;
                        margin-right: 1rem!important;
                    }
                    @media #{$kindlefire} {
                        /*      height: 52px;
                        width: 52px;
                        margin-right: 1rem!important; */
                    }
                    @media #{$iphone11} {
                        /*         margin-right: 5px!important; */
                    }
                    @media #{$iphone6} {
                        margin-right: 1rem!important;
                    }
                }
                .media-body {
                    h5 {
                        font-family: "Montserrat";
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 26px;
                        margin-bottom: 0;
                    }
                    h4 {
                        font-family: "Montserrat";
                        font-size: 9px;
                        font-weight: 400;
                        line-height: 26px;
                        margin-bottom: 0;
                        color: #E3AA26;
                    }
                }
                .language {
                    border-radius: 7px;
                    border: solid 1px #1bb0a7;
                    line-height: 25px;
                    font-family: Montserrat;
                    font-size: 10px;
                    color: #1bb0a7;
                    text-align: center;
                    font-weight: 600;
                    padding: 7px 7px;
                    a {
                        color: #1bb0a7;
                    }
                }
            }
        }
    }
}