/**************************
* Main Color
***************************/

$mainColor:#28CCE8;

/************************** 
* Main Background
***************************/

$mainBgColor:#28CCE8;

/************************** 
* Border Color
***************************/

$mainBrdColor:#28CCE8;

/************************** 
* Main Fonts
***************************/

$fontOne:'Montserrat';
$fontTwo: "";
$fontThre: "";

/************************** 
* Float fixing
***************************/

$flot-left: left;
$flot-right: right;

/************************** 
* Text Align
***************************/

$text-left: left;
$text-center: center;
$text-right: right;

/************************** 
* font-weight
***************************/

$font-200: 200;
$font-300: 300;
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$font-bold: bold;
$font-800: 800;

/************************** 
* Transition
***************************/

.transition {
    -webkit-transition: all .4s ease-in-out !important;
    -o-transition: all .4s ease-in-out !important;
    transition: all .4s ease-in-out !important;
}


/************************** 
* Box Shadow
***************************/

.box-shadownone {
    -webkit-box-shadow: none;
    box-shadow: none;
}


/************************** 
* Box Sizing
***************************/

.box-sizing {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/************************** 
* Transition Transforme
***************************/

.transTransforme {
    -webkit-transition: transform 330ms ease-out;
    -moz-transition: transform 330ms ease-out;
    -o-transition: transform 330ms ease-out;
    transition: transform 330ms ease-out;
}


/************************** 
* Media Queries
***************************/

$minMobile: "(max-width: 320px)"; //
$iphone6: "(max-width: 375px)"; //
$iphone11: "(max-width: 414px)"; //
$galMobile: "(max-width: 480px)"; //
$maxMobileFix: "(max-width: 599px)"; //
$kindlefire: "(max-width: 600px)"; //
$fixMobile712: "(max-width: 712px)";
$maxMobile: "(max-width: 767px)"; //
$ipSmall: "(max-width: 768px)"; //
$min_maxMobile: "(min-width: 768px) and (max-width: 991px)";
$ipadPro11: "(max-width: 834px)"; //
$maxSmall: "(max-width: 991px)"; //
$maxTablette: "(max-width: 992px)"; //
$min_maxTablette: "(min-width: 992px) and (max-width: 1199px)"; //
$DesktopFix: "(max-width: 1365px)"; //
$notebook: "(max-width: 1366px)"; //
