/***************************************************************************************************************
||||||||||||||||||||||||||||       MASTER STYLESHEET FOR Invest               ||||||||||||||||||||||||||||||||||
****************************************************************************************************************
    Project:        Toquetoc -  
    Version:        1.0
    Author:         Toquetoc

||||||||||||||||||||||||||||              TABLE OF CONTENT                  ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************

1- General Style



||||||||||||||||||||||||||||              COLOR CODES                       ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************

# Main Color (text):        
# Dark grey (text):         
# Dark Gray (headings)      
# Dark Gray (Links)         
# Background                
# Background Two            
a (standard):              
a (visited):                
a (active):                 

||||||||||||||||||||||||||||              Typography                        ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************

Fonts One: "PT Sans Narrow"
Fonts Two: ""

Notes:  Google Fonts


****************************************************************************************************************
||||||||||||||||||||||||||||            End TABLE OF CONTENT                ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/


/************************** 
* 1. General Style
***************************/


/* Import style scss  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("../vendor/bootstrap.min.css");
@import url("../vendor/font-awesome.css");
@import url("../vendor/fonts.css");
@import 'pages/globalpage.scss';
@import 'layouts/grid.scss';
@import 'components/navbarTop.scss';
@import 'components/sidebar__left.scss';
@import 'components/list__one.scss';
@import 'components/lives.scss';
@import 'components/search__bar.scss';
@import 'components/myFilter.scss';
.r-mb-30 {
    @media #{$maxSmall} {
        margin-bottom: 30px;
    }
}

.r-mb-0 {
    @media #{$minMobile} {
        margin-bottom: 0px;
    }
}

.pl-0 {
  @media #{$maxSmall} {
    padding-left: 15px !important;
  }
}
