<div id="sidebar__left" class="sidebar__left col-3" [ngClass]="{'min' : !full}">
  <ng-scrollbar class="content" #scrollbarRef visibility="hover">
    <div class="recommandees row pt-4">
      <div class="title col-12 d-flex justify-content-center align-items-center justify-content-between">
        <img src="../../../assets/images/left.png" class="left__img" alt="">
        <h2 class="pl-2 m-0" i18n="side-bar">
          Bientôt
        </h2>
        <mat-icon (click)="full = !full" class="cursor-pointer">skip_previous</mat-icon>
      </div>
      <div class="text-center action row w-100 cursor-pointer" (click)="full = !full" ><mat-icon>skip_next</mat-icon></div>
      <div class="item">
        <div class="media col-12">

          <img class="mr-3" src="https://image.rallypoint.tech/unsafe/60x60/https://rallypoint.tech/media/avatar/68510eb1eaee7f3df8a17ae10f106d65919.png" alt="recommandees">
          <div class="media-body">
            <h5 class="mt-0">Kubernetes Intro</h5>
            <div class="date">17/09/2020 21:00</div>
            <div class="name">Maxence</div>
          </div>
        </div>
      </div>
    </div>
    <div class="recommandees row">
      <div class="title col-12 d-flex justify-content-center align-items-center justify-content-between">
        <img src="../../../assets/images/left.png" class="left__img" alt="">
        <h2 class="pl-2 m-0" i18n="side-bar">
          Chaines suivies
        </h2>
      </div>
      <div class="item">
        <div class="media col-12"  *ngFor="let follow of follows" [ngClass]="{'offline' : !follow.live.status}">
          <img class="mr-3" [src]="'/media/avatar/'+follow.avatar | thumbor : [60,60]" *ngIf="follow.avatar">
          <img class="mr-3" src="../../../assets/images/avatar-placeholder.jpg" *ngIf="!follow.avatar">
          <div class="media-body">
            <h5 class="mt-0">{{follow.pseudo}}</h5>
            <span class="followers" *ngIf="!follow.live.status" i18n="side-bar">Offline</span>
            <span class="followers" *ngIf="follow.live.status"  i18n="side-bar">1200 Followers</span>
          </div>
        </div>
      </div>
    </div>
  </ng-scrollbar>

</div>

