<div id="sidebar__left" class="sidebar__left col-md-2">
  <div class="recommandees">
    <h2><img src="../../../assets/images/left.png" class="left__img" alt=""> CHAÎNES RECOMMANDÉES</h2>
    <div class="item__recomandees">
      <div class="media">
        <img class="mr-3" src="../../../assets/images/recommandees/1.png" alt="recommandees">
        <div class="media-body">
          <h5 class="mt-0">Rdamatim10</h5>
          <h4 class="followers">1200 Followers</h4>
        </div>
      </div>
      <div class="media">
        <img class="mr-3" src="../../../assets/images/recommandees/2.png" alt="recommandees">
        <div class="media-body">
          <h5 class="mt-0">Rdamatim10</h5>
          <h4 class="followers">1200 Followers</h4>
        </div>
      </div>
      <div class="media">
        <img class="mr-3" src="../../../assets/images/recommandees/3.png" alt="recommandees">
        <div class="media-body">
          <h5 class="mt-0">Terdt_Dani</h5>
          <h4 class="followers">1200 Followers</h4>
        </div>
      </div>
      <div class="media">
        <img class="mr-3" src="../../../assets/images/recommandees/4.png" alt="recommandees">
        <div class="media-body">
          <h5 class="mt-0">TiEchdotnet</h5>
          <h4 class="followers">1200 Followers</h4>
        </div>
      </div>
      <div class="media">
        <img class="mr-3" src="../../../assets/images/recommandees/5.png" alt="recommandees">
        <div class="media-body">
          <h5 class="mt-0">WelovePHP</h5>
          <h4 class="followers">1200 Followers</h4>
        </div>
      </div>
      <div class="media">
        <img class="mr-3" src="../../../assets/images/recommandees/6.png" alt="recommandees">
        <div class="media-body">
          <h5 class="mt-0">Eeasydoit</h5>
          <h4 class="followers">1200 Followers</h4>
        </div>
      </div>
      <div class="media">
        <img class="mr-3" src="../../../assets/images/recommandees/7.png" alt="recommandees">
        <div class="media-body">
          <h5 class="mt-0">Amadan</h5>
          <h4 class="followers">1200 Followers</h4>
        </div>
      </div>
      <div class="media">
        <img class="mr-3" src="../../../assets/images/recommandees/8.png" alt="recommandees">
        <div class="media-body">
          <h5 class="mt-0">Amadan</h5>
          <h4 class="followers">1200 Followers</h4>
        </div>
      </div>
      <div class="media">
        <img class="mr-3" src="../../../assets/images/recommandees/9.png" alt="recommandees">
        <div class="media-body">
          <h5 class="mt-0">Amadan</h5>
          <h4 class="followers">1200 Followers</h4>
        </div>
      </div>
      <div class="media">
        <img class="mr-3" src="../../../assets/images/recommandees/10.png" alt="recommandees">
        <div class="media-body">
          <h5 class="mt-0">Amadan</h5>
          <h4 class="followers">1200 Followers</h4>
        </div>
      </div>
      <div class="media">
        <img class="mr-3" src="../../../assets/images/recommandees/11.png" alt="recommandees">
        <div class="media-body">
          <h5 class="mt-0">Amadan</h5>
          <h4 class="followers">1200 Followers</h4>
        </div>
      </div>
      <div class="media">
        <img class="mr-3" src="../../../assets/images/recommandees/12.png" alt="recommandees">
        <div class="media-body">
          <h5 class="mt-0">Amadan</h5>
          <h4 class="followers">1200 Followers</h4>
        </div>
      </div>
      <div class="media">
        <img class="mr-3" src="../../../assets/images/recommandees/13.png" alt="recommandees">
        <div class="media-body">
          <h5 class="mt-0">Amadan</h5>
          <h4 class="followers">1200 Followers</h4>
        </div>
      </div>
    </div>
  </div>
</div>
