<p>change-password works!</p>

<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password" required>
      <mat-error *ngIf="resetPasswordForm.get('password') && resetPasswordForm.get('password').invalid && resetPasswordForm.get('password').touched">Votre mots de passe doit contenire des létre et des chifre, et doit faire au moin 6 caractéres</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Confirmer le mot de passe</mat-label>
      <input matInput type="password" formControlName="passwordConfirm" required>
      <mat-error *ngIf="resetPasswordForm.get('passwordConfirm') && resetPasswordForm.get('passwordConfirm').invalid && resetPasswordForm.get('passwordConfirm').touched">Invalid</mat-error>
    </mat-form-field>
  </p>
  <mat-error *ngIf="resetPasswordForm.errors && resetPasswordForm.errors.samePassword && resetPasswordForm.get('passwordConfirm').touched && resetPasswordForm.get('password').touched">Les mots de passes ne sont pas identiques</mat-error>
  <button mat-stroked-button [disabled]="!resetPasswordForm.valid">Changer de mot de passe</button>
</form>
<div *ngIf="resetPasswordNotFound">
  Impossible de changer votre mots de passe.
</div>
<div *ngIf="resetPasswordSuccess">
  Votre mots passe a été changer vous pouvez vous connecter avec votre nouveau mots de passe.
</div>
<div *ngIf="resetPasswordError">
  Une erreur techniqe est survenue veilleur retenter plus tard.
</div>
