<div class="col-6 m-auto p-4 h-100 d-flex justify-content-center flex-column">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">
    <h4 class="col-12" i18n="user | change-password">Change votre mots de passe</h4>
    <p>
      <mat-form-field appearance="standard" class="col-12">
        <mat-label i18n="user | change-password">Mot de passe</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="resetPasswordForm.get('password') && resetPasswordForm.get('password').invalid && resetPasswordForm.get('password').touched" i18n="user | change-password">Votre mots de passe doit contenire des létre et des chifre, et doit faire au moin 6 caractéres</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard" class="col-12">
        <mat-label  i18n="user | change-password">Confirmer le mot de passe</mat-label>
        <input matInput type="password" formControlName="passwordConfirm" required>
        <mat-error *ngIf="resetPasswordForm.get('passwordConfirm') && resetPasswordForm.get('passwordConfirm').invalid && resetPasswordForm.get('passwordConfirm').touched" i18n="user | change-password">Invalid</mat-error>
      </mat-form-field>
    </p>
    <div class="col-12">
      <mat-error class="w-100" *ngIf="resetPasswordForm.errors && resetPasswordForm.errors.samePassword && resetPasswordForm.get('passwordConfirm').touched && resetPasswordForm.get('password').touched" i18n="user | change-password">Les mots de passes ne sont pas identiques</mat-error>
      <button class="w-100" mat-stroked-button [disabled]="!resetPasswordForm.valid" i18n="user | change-password">Changer de mot de passe</button>
    </div>
  </form>
  <div *ngIf="resetPasswordNotFound" i18n="user | change-password">
    Impossible de changer votre mots de passe.
  </div>
  <div *ngIf="resetPasswordSuccess" i18n="user | change-password">
    Votre mots passe a été changer vous pouvez vous connecter avec votre nouveau mots de passe.
  </div>
  <div *ngIf="resetPasswordError" i18n="user | change-password">
    Une erreur techniqe est survenue veilleur retenter plus tard.
  </div>
</div>
