
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Poster votre code">
    <div class="p-2">
      <mat-form-field>
        <mat-label>Language</mat-label>
        <mat-select [(value)]="mode">
          <mat-option *ngFor="let i of languages | keyvalue" [value]="i.key">{{i.key}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Message</mat-label>
        <input matInput placeholder="" [(ngModel)]="message">
      </mat-form-field>
      <ace id="codeEditor" [mode]="mode" [theme]="'github'" [(value)]="value"></ace>
      <button type="button" mat-raised-button color="primary" class="mt-2 w-100" (click)="sendAndClose()">Save</button>
    </div>


  </mat-tab>
</mat-tab-group>
