/**************************
* Import style
***************************/

@import '../../../assets/helpers/variabls';

/**************************
* Main Style
***************************/

.navbar {
  padding: 13px 0;
  margin-bottom: 0;
  background: #1e4c78;
  border-radius: 0;
  border-bottom: 1px solid $dark-background;
  .navbar-brand {
    cursor: pointer;
    max-width: 250px;
    margin-right: 18px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    color: #FFF;
    font-size: 24px;
    .bg{
      background-color: #FFF;
      color: #1e4c78;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.form-search {
  width: 264px;
  position: relative;
  .form-control {

    background-color: rgba(255,255,255,0.1);
    color: #FFF;
    border-radius: 5px;
    padding: 0px;
    flex: 1;
    font-size: 12px;
    max-height: 100px;
    width: 100%;
    border: 1px solid rgba(255,255,255,0);

    height: 45px;
    padding-left: 40px;
    padding-right: 10px;
    &:focus{
      background-color: rgba(255,255,255,0);
      border: 1px solid #FFF;
    }
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      color: #BEBEBE;
    }
    &:-ms-input-placeholder {
      color: #BEBEBE;
    }
    &::-ms-input-placeholder {
      color: #BEBEBE;
    }
  }
  .btn-outline-success {
    padding: 0;
    border-radius: 0;
    border: none;
    color: transparent;
    position: absolute;
    left: 14px;
    bottom: 11px;
    img {
      height: 16px;
    }
  }
}

.navbar-collapse {
  .navbar-nav {
    .nav-item {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
      &.active {}
      .nav-link {
        color: #FFF;
        font-family: "Montserrat";
        font-size: 17px;
        font-weight: bold;
        @extend .transition;
        &:hover {
          color: #E3AA26;
          @extend .transition;
        }
      }
    }
  }
  .socialmedia {
    margin-bottom: 0;
    margin-left: 44px;
    li {
      float: left;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #ffffff;
        font-size: 15px;
        @extend .transition;
        &:hover {
          color: $mainColor;
          @extend .transition;
        }
      }
    }
  }
  .buttons__contact {
    margin-left: 16px;
    .btn {
      color: #FFF;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      border-radius: 30px;
      margin-left: 11px;
      background: transparent;
      height: 35px;
      line-height: 32px;
      padding: 0 14px;
      border: 2px solid #FFF;
      @extend .transition;
      &:hover {
        color: #ffffff;
        background: #FFF;
        @extend .transition
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
