  <div class="full__item-video mb-3">
    <div class="item__video">
      <div class="img__img-video">
        <img [src]="img" alt="">
        <span *ngIf="live" class="live__button ml-2 mr-2">LIVE</span>
        <span class="viewer"><span class="icon-eye"></span>{{spec}}</span>
        <!--    <span class="play"></span> -->
        <div class="content__video pl-2 pr-2">
          <h5 class="name__views m-0">
            {{pseudo}}
          </h5>
        </div>
      </div>
      <div class="title pt-3 col-12 pb-2">
        {{title}}
      </div>
      </div>

  </div>
