  <div class="full__item-video mb-3">
    <div class="item__video">
      <div class="img__img-video">
        <img *ngIf="live" [src]="'/media/hls/'+pseudo+'-thumbnail.jpg'" alt="">
        <img *ngIf="!live" [src]="img" alt="">
        <span *ngIf="live" class="live__button ml-2 mr-2">LIVE</span>
        <div class="viewer d-flex align-middle align-items-center"><mat-icon>visibility</mat-icon>{{spec}}</div>
        <!--    <span class="play"></span> -->
        <div class="content__video pl-2 pr-2">
          <h5 class="name__views m-0">
            {{pseudo}}
          </h5>
        </div>
      </div>
      <div class="title pt-3 col-12 pb-2">
        {{title}}
      </div>
      </div>

  </div>
