<div class="row pb-4 pt-0 pt-sm-3">
  <form [formGroup]="changeInformationdForm" (ngSubmit)="changeInformationdSubmit()" class="col-12">
    <h5 i18n="auth | user">Information</h5>

    <div class="pl-3">
      <mat-label i18n="auth | user">Avatar</mat-label>
      <div class="pt-4 pb-4 d-flex">
        <img class="avatar " [src]="this.previewImage">
        <div>
          <input type="file" hidden="true" (change)="onFileChange($event)" #fileInput>
          <button mat-stroked-button type="button" (click)="fileInput.click()" i18n="auth | user">choisir un fichier</button>
          <br>
          <small i18n="auth | user">
            Votre fichier doit etres une image de maximum 500ko
          </small>
        </div>
      </div>
    </div>
    <p>
      <mat-form-field appearance="fill" class="col-12">
        <mat-label i18n="auth | user">Email</mat-label>
        <input matInput type="text" formControlName="email" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" class="col-12">
        <mat-label i18n="auth | user">Pseudo</mat-label>
        <input matInput type="text" formControlName="pseudo" required>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill" class="col-12">
        <mat-label i18n="auth | user">Mot de passe</mat-label>
        <input matInput type="password" formControlName="password" >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" class="col-12">
        <mat-label i18n="auth | user">Confirmation</mat-label>
        <input matInput type="password" formControlName="passwordConf" >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" class="col-12">
        <mat-label i18n="auth | live">Description de la chaine</mat-label>
        <textarea matInput
                  formControlName="desc"
                  cdkTextareaAutosize
                  (ngModelChange)="updateMarkDown($event)"
                  cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </p>
    <div class="col-12" [innerHTML]="previewMarkDown" >

    </div>
    <mat-error *ngIf="changeInformationdForm.errors && changeInformationdForm.errors.samePassword && changeInformationdForm.get('passwordConf').touched && changeInformationdForm.get('password').touched" class="col-12 mb-4"><small i18n="auth | user">Les mots de passes ne sont pas identiques</small></mat-error>
    <div class="col-12">
      <div class="alert alert-primary" role="alert" *ngIf="succes === true" i18n="auth | user">
        Modification effectué
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="succes === false" i18n="auth | user">
        Erreur de modification des information personnel
      </div>
      <button mat-stroked-button color="primary" class="col-12 mb-4" i18n="auth | user">Changer</button>
    </div>
  </form>

</div>
