
<ng-scrollbar #scrollbarRef visibility="hover" *ngIf="replays && replays.items">
  <h2 i18n="account | replays" class="pt-4"> Redifusions </h2>

  <div class="row mt-3 pr-3">
    <app-mini-live [noAvatar]="true" [pseudo]="replay.user.pseudo"  [file]="replay.file" [route]="'/replay/'+replay.id" *ngFor="let replay of replays.items"  class="item pr-0 col-md-6 col-lg-4 col-xl-3" [title]="replay.title">
      <div class="actions d-flex pb-2 pt-2 ">
        <button (click)="delete(replay.id)" mat-stroked-button color="primary"  class="mr-2 d-none d-sm-block" i18n="account | replays">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <button [routerLink]="'/account/replays/'+replay.id"  mat-stroked-button color="primary" class="mr-2 d-none d-sm-block" i18n="account | replays">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </app-mini-live>
  </div>
  <mat-paginator class="mt-auto row"
                 [length]="replays.count"
                 [pageSize]="defaultPageSize"
                 #paginator
                 (page)="pageUpdate($event)"
                 [pageSizeOptions]="[5, 10, 20, 50]">
  </mat-paginator>
</ng-scrollbar>
