
/* Import style scss  */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "assets/vendor/fonts.css";
@import 'assets/helpers/variabls';

@import "~bootstrap/scss/bootstrap";
@import "assets/custome/custome";

//@import 'pages/globalpage.scss';
//@import 'layouts/grid.scss';
.r-mb-30 {
  @media #{$maxSmall} {
    margin-bottom: 30px;
  }
}

.r-mb-0 {
  @media #{$minMobile} {
    margin-bottom: 0px;
  }
}
html,body{
  height: 100%;
}
body{
  font-family: "Montserrat";
  background-color: #043869;
  color: #FFFFFF;
}
a,a:hover{
  text-decoration: inherit;
  color: inherit;
  font-weight: inherit;
}
*:focus{
  outline: 0;
}

.hr {
  /* centre verticalement les enfants entre eux */
  align-items: center;

  /* active flexbox */
  display: flex;

  /* garde le texte centré s’il passe sur plusieurs lignes ou si flexbox n’est pas supporté */
  text-align: center;
}

.hr::before,
.hr::after {
  /* la couleur est volontairement absente ; ainsi elle sera celle du texte */
  border-top: .0625em solid;

  /* nécessaire pour afficher les pseudo-éléments */
  content: "";

  /* partage le reste de la largeur disponible */
  flex: 1;

  /* espace les traits du texte */
  margin: 0 .5em;
}
