/**************************
* Import style
***************************/
@import '../../../assets/helpers/variabls';
/**************************
* Main Style
***************************/
.min-h-100{
  min-height: 100%;
}

.form-search {
  width: 220px;
  position: relative;
  .form-control {

    background-color: $gray-background;
    color: $dark-background;
    border-radius: 5px;
    padding: 0px;
    flex: 1;
    font-size: 12px;
    max-height: 100px;
    width: 100%;
    border: 1px solid rgba(255,255,255,0);

    height: 45px;
    padding-left: 40px;
    padding-right: 10px;
    &:focus{
      border: 1px solid $dark-background;
    }
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      color: #BEBEBE;
    }
    &:-ms-input-placeholder {
      color: #BEBEBE;
    }
    &::-ms-input-placeholder {
      color: #BEBEBE;
    }
  }
  .btn-outline-success {
    padding: 0;
    border-radius: 0;
    border: none;
    color: transparent;
    position: absolute;
    left: 14px;
    bottom: 11px;
    img {
      height: 16px;
    }
  }
}
