
<ng-scrollbar #scrollbarRef visibility="hover">
<div *ngIf="loading" class="col-12 text-center" i18n="search | live">Recherche en cours...</div>

<div class="col-12 d-flex flex-column min-h-100" *ngIf="!loading">
  <div class="d-flex align-items-center pt-3">
    <div>
      <h2 class="pt-2 pb-2 pr-3" i18n="search | live"> Rechercher une redifusion </h2>
    </div>
    <div>
      <form class="form-inline form-search" [formGroup]="searchForm" (ngSubmit)="searchSubmit()">

        <input class="form-control" type="text" placeholder="Search a Streaming …" aria-label="Search" formControlName="search">
        <button class="btn btn-outline-success" type="submit">
          <img src="../../../assets/images/search.png" alt="">
        </button>
      </form>
    </div>
  </div>
  <div class="row mt-3 pr-3" *ngIf="replays && replays.count">
    <app-mini-live  [file]="userReplay.file" [route]="'/channel/'+userReplay.user.pseudo" [avatar]="userReplay.user.avatar" *ngFor="let userReplay of replays.items"  class="item pr-0 col-md-6 col-lg-4 col-xl-3" [pseudo]="userReplay.user.pseudo" [title]="userReplay.title"  ></app-mini-live>
  </div>

  <mat-paginator class="mt-auto row"
                 [length]="replays.count"
                 [pageSize]="10"
                 (page)="pageUpdate($event)"
                 [pageSizeOptions]="[5, 10, 25, 50]">
  </mat-paginator>
</div>
</ng-scrollbar>
