
@import '../../../assets/helpers/variabls';

h2{
  display: inline-block;
  font-size: 18px;
  padding: 5px 7px;
  margin: 20px 0;
  background-color: #FFF;
  color: $normal-background;
}
p{
  font-size: 14px;
}
