
<ng-scrollbar #scrollbarRef visibility="hover" class="cms-content">
  <h1 class="text-center d-block w-100 mt-4">Plan du site</h1>
  <div class="d-sm-flex">
    <div class="col-sm-6 col-12">
      <ul class="list">
        <li>
          <a href="/account/user" class="sub-title">Mon Compte</a>
          <ul>
            <li><a href="/account/user">Mon compte</a></li>
            <li><a href="/account/stream">Stream</a></li>
            <li><a href="/account/replay">Mes replays</a></li>
          </ul>
        </li>
        <li>
          <a href="/search" class="sub-title">Recherche</a>
          <ul>
            <li><a href="/search/lives">Live</a></li>
            <li><a href="/search/replays">Replay</a></li>
          </ul>
        </li>
        <li>
          <a href="/browse" class="sub-title">Parcourir</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 col-12">
      <ul class="list">
        <li>
          <span class="sub-title">Information</span>
          <ul>
            <li><a href="/cms/faq">FAQ</a></li>
            <li><a href="/cms/stream">Comment diffuser</a></li>
            <li><a href="https://drive.google.com/drive/folders/1Ckwht8fIBh3YvD02fdsZXNVCDPeR9inl?usp=sharing">Dossier press</a></li>
            <li><a href="mailto:contact@rallypoint.tech">Contact</a></li>
            <li><a href="/cms/sitemap">Plan du site</a></li>
            <li><a href="/cms/legal">Mention legal</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</ng-scrollbar>
