<h3 i18n="chat">CHAT DU STREAM</h3>
<div class="messages">
<ng-scrollbar #scrollbarRef (updated)="autoScroll ? scrollbarRef.scrollTo({bottom:0}):null;" visibility="hover">
<ul class="admin" [ngClass]="{admin:isAdmin}">
  <li *ngFor="let message of messages" class="col-12">
    <span class="pseudo" [ngStyle]="{color:'#'+message.color}">{{message.pseudo}}</span>
    <span class="vote text-center" >
      <span class="vote-count">{{message.voteCount}}</span>
    </span>

    <div class="actions">
      <span class="item cursor-pointer ml-2" (click)="vote(true,message.uuid)" >
        <mat-icon>thumb_up</mat-icon>
      </span>
      <span class="item admin ursor-pointer ml-2" (click)="ban(message.by,message.pseudo)" >
        <mat-icon>remove_circle_outline</mat-icon>
      </span>
    </div>
    {{message.txt}}
    {{message.gist}}
  </li>
</ul>
</ng-scrollbar>
</div>
<div class="form p-4 text-center" *ngIf="banned" i18n="chat">
  Vous êtes banni
</div>
<form (ngSubmit)="send()" class="form mb-1 mb-sm-0" *ngIf="!banned">
  <div class="col-9 col-sm-12 d-flex">
    <textarea type="text" [(ngModel)]="message" name="message" class="message" (keydown.enter)="send();false;"></textarea>
  </div>
  <div class="col-3 col-sm-12 d-flex action justify-content-between">
    <button  mat-stroked-button color="primary" class="d-none d-sm-block" type="button" (click)="openCodeEditor()" i18n="chat"> &lt;code&gt;</button>
    <button  mat-stroked-button color="second" i18n="chat">Envoyé</button>
  </div>
</form>
