<h3>CHAT DU STREAM</h3>
<div class="messages">
<ng-scrollbar #scrollbarRef (updated)="autoScroll ? scrollbarRef.scrollTo({bottom:0}):null;" visibility="hover">
<ul>
  <li *ngFor="let message of messages" class="col-12">
    <span class="pseudo">{{message.pseudo}}</span>
    <span class="vote" ><mat-icon class="vote-btn" (click)="vote(true,message.uuid)">thumb_up</mat-icon><span class="vote-count">{{message.voteCount}}</span></span>
    {{message.txt}}
    {{message.gist}}
  </li>
</ul>
</ng-scrollbar>
</div>

<form (ngSubmit)="send()" class="form">
  <div class="col-12">
    <textarea type="text" [(ngModel)]="message" name="message" class="message" (keydown.enter)="send();false;"></textarea>
  </div>
  <div class="col-12 d-flex justify-content-between">
    <button  mat-raised-button color="primary"  type="button" (click)="openCodeEditor()"> &lt;code&gt;</button>
    <button  mat-raised-button color="second">send</button>
  </div>
</form>
